#intro{
    width: 300px;
    height: 200px;
}
.title{
    width: 200px;
    height: 30px;
    background-color: aquamarine;
}
.content{
    width: 400px;
    height: 30px;
    background-color: aliceblue;
}